/* /web/dist/custom.css  (inside authentik-server) */
.pf-c-login__main { background: orange !important; }
.pf-c-button { background: #ff3b30 !important; border-color: #ff3b30 !important; color:#fff !important; }
